<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PPTranslator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E489E97E1BD5D98A006187F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E489E9971BD5D98A006187F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E489E9A21BD5D98A006187F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
